.container {
	display: block;
	margin: 0px auto;
	width: 100%;
	margin-bottom: 24px;
	margin-top: 40px;
	flex-grow: 1;
}

.title {
	font-size: 2em;
	margin-bottom: 35px;
	margin-left: 15px;
}

.textWrapper {
	margin: 0 15px;
}

.phonePhoto {
	display: none;
}

@media (min-width: 692px) {
	.container {
		width: 670px;
	}
	.phonePhoto {
		display: block;
	}
}

@media (min-width: 944px) {
	.container {
		width: 924px;
	}

	.contentWrapper {
		display: flex;
	}

	.photoWrapper {
		width: 45%;
	}

	.title {
		font-size: 2.5em;
	}
}