* {
	font-family: Helvetica, sans-serif;
}

.container {
	display: block;
	margin: 0 auto;
	width: 100%;
	margin-bottom: 24px;
}

.title {
	max-width: 236px;
	display: block;
	margin: 0 auto;
	margin-top: 29px;
	font-size: 15px;
	color: #333333;
}

.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-top: 14px;
}

.card {
	box-shadow: 0 1px 2px 0 #9B9B9B;
	list-style: none;
}

.iphone,
.ipad,
.macbook {
	width: 58%;
}

.samsung,
.other,
.imac {
	width: 40%;
}

.link {
	display: inline-block;
	text-decoration: none;
	color: #333333;
	font-size: 13px;
	width: 100%;
	height: 100%;
}

@media (max-width: 1200px) { // desktop
	.container {
		width: 970px;
	}
}

@media (max-width: 992px) { // laptop
	.container {
		width: 750px;
	}
}

@media (max-width: 768px) { // tablets
	.container {
		width: 670px;
	}

	.title {
		font-size: 18px;
		max-width: 300px;
	}

	.card {
		height: 207px;
		margin-bottom: 12px;
	}

	.name {
		padding-top: 124px;
		padding-left: 18px;
	}

	.iphone {
		background: url("../../img/iphone-tablet.png") no-repeat bottom right;
	}

	.samsung {
		background: url("../../img/samsung-tablet.png") no-repeat bottom right;
	}

	.other {
		background: url("../../img/other-tablet.png") no-repeat bottom right;
	}

	.ipad {
		background: url("../../img/ipad-tablet.png") no-repeat bottom right;
	}

	.macbook {
		background: url("../../img/macbook-tablet.png") no-repeat bottom right;
	}

	.imac {
		background: url("../../img/imac-tablet.png") no-repeat bottom right;
	}
}

@media (max-width: 480px) { // phones
	.container {
		width: 100%;
	}

	.card {
		height: 127px;
		margin-bottom: 5px;
	}

	.name {
		padding-top: 75px;
		padding-left: 24px;
	}

	.iphone {
		background: url("../../img/iphone.png") no-repeat bottom right;
	}

	.samsung {
		background: url("../../img/samsung.png") no-repeat bottom right;
	}

	.other {
		background: url("../../img/other.png") no-repeat bottom right;
	}

	.ipad {
		background: url("../../img/ipad.png") no-repeat bottom right;
	}

	.macbook {
		background: url("../../img/macbook.png") no-repeat bottom right;
	}

	.imac {
		background: url("../../img/imac.png") no-repeat bottom right;
	}
}