* {
  font-family: Helvetica, sans-serif; }

.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 24px; }

.title {
  margin: 0 auto;
  margin-top: 29px;
  font-size: 15px;
  text-align: center;
  color: #333333; }

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 14px; }

.card {
  position: relative;
  box-shadow: 0 1px 2px 0 #9B9B9B;
  list-style: none;
  height: 127px;
  margin-bottom: 5px;
  overflow: hidden; }
  .card:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100px;
    height: 127px;
    z-index: -1;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s; }
  .card:hover:before {
    opacity: 1;
    transition: 0.5s; }

.iphone:before {
  right: 25px;
  bottom: -20px;
  background-image: url("../../img/iphone.jpg"); }

.samsung:before {
  right: -16px;
  bottom: -30px;
  background-image: url("../../img/samsung.jpg"); }

.other:before {
  right: -8px;
  bottom: -18px;
  background-image: url("../../img/other.jpg"); }

.ipad:before {
  width: 140px;
  right: 10px;
  bottom: -18px;
  background-image: url("../../img/ipad.jpg"); }

.macbook:before {
  height: 116px;
  width: 140px;
  right: 10px;
  bottom: -10px;
  background-image: url("../../img/macbook.jpg"); }

.imac:before {
  height: 116px;
  width: 140px;
  right: -45px;
  bottom: -1px;
  background-image: url("../../img/imac.jpg"); }

.iphone,
.ipad,
.macbook {
  width: 52%; }

.samsung,
.other,
.imac {
  width: 46%; }

.link {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  font-size: 13px;
  width: 100%;
  height: 100%; }
  .link:hover {
    text-decoration: none; }

.name {
  font-size: 13px;
  width: 100px;
  padding-top: 75px;
  padding-left: 18px; }

@media (min-width: 692px) {
  .card:before {
    height: 197px;
    width: 170px; }
  .container {
    width: 670px; }
  .title {
    font-size: 18px; }
  .card {
    height: 207px;
    margin-bottom: 12px; }
  .name {
    font-size: 20px;
    padding-top: 124px;
    padding-left: 18px; }
  .ipad:before {
    width: 190px;
    right: 40px; }
  .macbook:before {
    right: 10px;
    bottom: -18px;
    width: 240px; }
  .imac:before {
    height: 197px;
    width: 170px;
    right: 0;
    bottom: -20px; } }

@media (min-width: 944px) {
  .card:before {
    height: 257px;
    width: 220px; }
  .container {
    width: 924px; }
  .title {
    font-size: 21px;
    margin-top: 45px; }
  .card {
    height: 290px; }
  .name {
    padding-left: 30px;
    padding-top: 190px; }
  .samsung:before,
  .other:before {
    right: 34px; }
  .ipad:before {
    width: 250px;
    bottom: -8px; }
  .macbook:before {
    width: 310px; }
  .imac:before {
    width: 280px; } }
