.container {
  display: block;
  margin: 0 auto;
  width: 320px; }

.displays {
  background: url("../../img/displayiphone.png") no-repeat;
  background-size: cover;
  margin-bottom: 24px;
  width: 100%; }

.overlay {
  background: rgba(0, 0, 0, 0.6) no-repeat;
  background-size: cover;
  width: 100%; }

.title {
  display: inline-block;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 13px;
  padding: 17px 24px 17px 20px; }

.button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  padding: 8px 11px;
  border: 1px solid #fff;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  background-color: transparent; }

@media (min-width: 768px) {
  .container {
    width: 670px; }
  .wrapper {
    display: block;
    width: 430px;
    margin: 0 auto; }
  .title {
    padding: 36px 24px 36px 40px;
    font-size: 18px; } }
