.footer {
  height: 100%;
  background-color: #F6F6F6; }

.container {
  display: block;
  margin: 0 auto;
  width: 100%; }

.title {
  display: block;
  color: #358EDC;
  font-size: 13px;
  width: 140px;
  margin: 0 auto;
  padding-top: 12px;
  text-decoration: none; }

.phones {
  font-size: 10px;
  color: #4A4A4A;
  width: 100px;
  margin: 6px auto; }

.vk {
  display: block;
  width: 25px;
  height: 25px;
  margin: 12px auto;
  background: url("../img/vk.png") no-repeat;
  padding-bottom: 12px; }

@media (min-width: 768px) {
  .container {
    width: 670px; } }
