.wrapper {
  position: relative;
  min-height: 100%;
  min-width: 100%; }

.cover {
  display: flex;
  align-items: center;
  height: 320px;
  background: url("../../img/main-bg.png") no-repeat top;
  background-size: cover;
  width: 100%;
  margin: 0 auto; }

.header {
  box-shadow: none;
  background: transparent; }

.container {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%; }

.contacts {
  display: block;
  padding-top: 16px;
  padding-left: 24px; }

.contacts__tablet {
  display: none; }

.phone {
  color: #4A4A4A;
  text-decoration: none;
  font-size: 13px; }

.schedule {
  font-size: 9px;
  color: #333333; }

.hamburger {
  position: absolute;
  cursor: pointer;
  top: 25px;
  right: 25px; }

@media (min-width: 672px) {
  .header {
    box-shadow: 0 1px 2px 0 #9B9B9B;
    background-color: #fff; }
  .container {
    width: 672px;
    display: flex; }
  .contacts {
    display: none; }
  .contacts__tablet {
    display: block;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-right: 24px; }
  .cover {
    background: url("../../img/main-bg-tablet.png") no-repeat top;
    height: 520px; }
  .nav {
    position: absolute;
    width: 26px;
    height: 16px;
    cursor: pointer;
    top: 29px;
    right: 0; } }

@media (min-width: 924px) {
  .container {
    width: 924px; }
  .cover {
    justify-content: center;
    height: 570px;
    width: 924px;
    background-size: cover; }
  .hamburger {
    display: none; } }
