.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  min-width: 100%; }

.cover {
  background: url("../../img/main-bg.png") no-repeat top;
  background-size: cover;
  width: 100%;
  display: block;
  margin: 0 auto; }

.container {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-top: 18px;
  padding-right: 24px; }

.phone {
  color: #4A4A4A;
  text-decoration: none;
  font-size: 13px; }

.schedule {
  font-size: 9px;
  color: #333333; }

@media (max-width: 768px) {
  .header {
    box-shadow: 0 1px 2px 0 #9B9B9B;
    background-color: #fff; }
  .contacts {
    display: none; }
  .contacts__tablet {
    display: block;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-right: 24px; }
  .cover {
    background: url("../../img/main-bg-tablet.png") no-repeat top;
    background-size: contain; } }

@media (max-width: 480px) {
  .header {
    box-shadow: none;
    background: transparent; }
  .cover {
    background-size: cover; }
  .contacts {
    display: block; }
  .contacts__tablet {
    display: none; } }
