* {
	font-family: Helvetica, sans-serif;
}

.container {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.title {
	font-size: 21px;
	padding-left: 26px;
	margin: 0;
	font-weight: 400;
}

.text {
	display: block;
	font-size: 15px;
	padding-left: 26px;
	margin-top: 8px;
	max-width: 310px;
}

.button {
	background-color: #0070D2;
	border-radius: 20px;
	margin-left: 25px;
	margin-top: 20px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.50);
	border: 0px solid transparent;
	padding: 5px 11px;
	outline: none;
	cursor: pointer;
	color: #fff;
	font-size: 13px;
}

@media (min-width: 672px) { // tablets
	.container {
		width: 670px;
	}

	.title {
		font-size: 24px;
	}

	.text {
		max-width: 460px;
	}
}

@media (min-width: 924px) {
	.container {
		text-align: center;
	}

	.title {
		font-size: 38px;
	}

	.text {
		font-size: 21px;
		max-width: 100%;
	}

	.button {
		font-size: 18px;
		padding: 12px 24px;
	}
}
