.container {
  display: block;
  width: 100vw;
  height: 100%;
  margin: 40px auto;
}

.list {
  padding: 0;
  margin: 0 auto;
  display: flex;  
  list-style: none;  
  flex-wrap: wrap;
  width: 100vw;
  padding-left: 10px;
  justify-content: center;
}

.item {
  cursor: pointer;
  flex: 0 0 47%;
  max-width: 50%;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  border: 1px solid #cdd7e4;
  padding: 7px 29px;
  margin-bottom: 12px;
  margin-right: 10px;
  outline: none;
  &:hover {
    border-color: red;
  }
}

.panel {
  width: 100vw;
  padding: 0 10px;
}

table {
  display: table;
  border: 1px solid grey;
  border-collapse: collapse;
}

tr {
  &:first-child {
    background-color: lightblue;
  }
  &:not(:first-child):hover {
    background-color: #cdcfd3;
  }
}

td {
  text-align: center;
  padding: 5px;
  border: 1px solid grey;
  &:first-child:before {
    content: attr(data-name);
  }
  &:nth-child(1) {
    display: none;
    width: 17%;
  }
  &:nth-child(2) {
    width: 41%;
  }
  &:nth-child(3) {
    display: none;    
    width: 14%;
  }
  &:nth-child(4) {
    width: 28%;
  }
}

.react-tabs__tab--selected {
  border: 2px solid red;
}

@media (min-width: 924px) {
  .items {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .item {
    flex: 0 0 20%;
    max-width: 20%;
  }
  td {
    &:nth-child(1) {
      display: table-cell;
    }
    &:nth-child(3) {
      display: table-cell;   
    }
  }
  .list {
    width: 100%;
    justify-content: center;
  }
  .panel {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 672px) {
  td {
    &:nth-child(1) {
      display: table-cell;
    }
  }
}