.container {
  display: block;
  flex-grow: 1;
  margin: 40px auto;
  padding: 0px 10px; }

.list {
  padding: 0;
  margin: 0 auto;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px; }

.item {
  cursor: pointer;
  flex-basis: 190px;
  flex-grow: 1;
  text-align: center;
  display: block;
  border: 1px solid #cdd7e4;
  padding: 11px 25px;
  outline: none;
  font-size: 0.8em; }
  .item:hover {
    border-color: #358EDC; }

.activeTab {
  border: 1px solid #358EDC;
  background-color: #358EDC;
  color: #fff; }

.title {
  margin-left: 10px; }

table {
  display: table;
  border: 1px solid grey;
  border-collapse: collapse; }

tr:first-child {
  background-color: #ECEEEF; }

tr:not(:first-child):hover {
  background-color: #ECEEEF; }

td {
  text-align: center;
  padding: 8px;
  border: 1px solid #e8e8e8; }
  td:first-child:before {
    content: attr(data-name); }
  td:nth-child(1) {
    display: none;
    width: 17%; }
  td:nth-child(2) {
    width: 41%; }
  td:nth-child(3) {
    display: none;
    width: 14%; }
  td:nth-child(4) {
    width: 28%; }

@media (min-width: 692px) {
  .container {
    width: 672px; }
  td:nth-child(1) {
    display: table-cell; } }

@media (min-width: 944px) {
  .container {
    width: 924px; }
  .reactTabs {
    padding: 0; }
  .items {
    flex: 0 0 20%;
    max-width: 20%; }
  .item {
    padding: 15px 25px;
    outline: none; }
  .panel {
    padding: 0; }
  .title {
    font-size: 2.5em;
    margin-left: 0; }
  td:nth-child(1) {
    display: table-cell; }
  td:nth-child(3) {
    display: table-cell; } }
