/*
	В этот файл импортируются все блоки со стилями
*/
@import "blocks/nav.scss";
@import "global/normalize.scss";
@import "global/variables.scss";
@import "global/mixins.scss";
@import "global/fonts.scss";
@import "global/global.scss";

@import "global/media.scss";

body {
	margin: 0;
	padding: 0;
	font-family: Roboto, Helvetica, sans-serif;
	box-sizing: border-box;
	font-size: 18px;
}

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

img {
  width: auto;
  height: 100%;
}
