.wrapper {
	position: relative;
	min-height: 100%;
	min-width: 100%;
}

.cover {
	display: flex;
	align-items: center;
	height: 320px;
	background-color: #262121;
	/*background: url("../../img/main-bg.png") no-repeat top;*/
	background-size: cover;
	width: 100%;
	margin: 0 auto;
}

.header {
	background: transparent;
	box-shadow: 0 1px 2px 0 #9B9B9B;
}

.logo {
	display: flex;
	justify-content: flex-start;
	margin-right: 24px;
	font-size: 1em;
	align-items: center;
	padding: 29px;
	padding-left: 20px;

	a {
		color: #333;
		text-decoration: none;
		font-weight: 700;
	}
}

.container {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 100%;
}

.contacts {
	display: block;
	padding-top: 17px;
	padding-left: 24px;
	padding-bottom: 12px;
}

.contacts__tablet {
	display: none;
}

.phone {
	color: #4A4A4A;
	text-decoration: none;
	font-size: 0.9em;
}

.schedule {
	font-size: 0.5em;
	color: #333333;
}

.hamburger {
	position: absolute;
	cursor: pointer;
	top: 50%;
	transform: translateY(-50%);
	right: 25px;
}

@media (min-width: 692px) { // tablets
	.header {
		box-shadow: 0 1px 2px 0 #9B9B9B;
		background-color: #fff;
	}

	.container {
		width: 672px;
		display: flex;
	}

	.contacts {
		display: none;
	}

	.logo {
		padding-left: 25px;
	}

	.contacts__tablet {
		display: block;
		padding-top: 17px;
		padding-bottom: 17px;
		margin-right: 24px;
	}

	.cover {
		height: 420px
	}

	.nav {
		position: absolute;
		width: 26px;
		height: 16px;
		cursor: pointer;
		top: 29px;
		right: 0;
	}
}

@media (min-width: 944px) {
	.container {
		width: 924px;
	}

	.hamburger {
		display: none;
	}
}
