* {
	font-family: Helvetica, sans-serif;
}

.cards__wrapper {
	display: block;
	margin: 0 auto;
	width: 100%;
	box-shadow: 0 1px 2px 0 #9B9B9B;
}

.cards {
	height: 100%;
	display: flex;
	list-style: none;
	padding-left: 48px;
}

.card {
	display: flex;
	align-items: center;
	height: 151px;
	width: 100%;

	&__iphone {
		background: url("../styles/icons/iphoneicon.svg") no-repeat;
		background-position: 84% 50%;
	}

	&__repair {
		background: url("../styles/icons/turbina.svg") no-repeat;
		background-position: 84% 50%;
	}

	&__guarantee {
		background: url("../styles/icons/shield.svg") no-repeat;
		background-position: 84% 50%;
	}
}

.text {
	color: #333333;
	font-size: 13px;
	width: 55%;
	padding-left: 48px;
}

.title {
	font-size: 21px;
	color: #333333;
	margin-bottom: 5px;
}

.description {
	font-size: 13px;
}
// Styles for Carousel
.slider-list {
	width: 100%;
	padding: 90px;
}

.slider-decorator-2 {
	margin-top: -100px;
}

@media (min-width: 768px) { // tablets
	.container {
		width: 670px;
		background: none;
		box-shadow: none;
		padding: 0;
	}
	.cards__wrapper {
		margin-top: 24px;
	}

	.cards {
		display: flex;
		justify-content: space-between;
		padding: 0;
	}

	.card {
		display: flex;
		flex-flow: column;
		box-shadow: 0 1px 2px 0 #9B9B9B;
		width: 33%;

		&:not(:last-child) {
			margin-right: 12px;
		}
	}

	.section__pic_iphone {
		background: url("../styles/icons/iphoneicon.svg") no-repeat;
		background-position: 50% 50%;
		padding-top: 169px;
	}

	.section__pic_turbine {
		background: url("../styles/icons/turbina.svg") no-repeat;
		background-position: 50% 50%;
		padding-top: 169px;
	}

	.section__pic_shield {
		background: url("../styles/icons/shield.svg") no-repeat;
		background-position: 50% 50%;
		padding-top: 169px;
	}

	.text {
		background: linear-gradient(to right, #32BADB, #328CDB);
		height: 100%;
		padding: 15px 22px 24px 24px;
		color: #fff;
		font-size: 11px;
		font-weight: 300;
	}

	.title {
		font-size: 18px;
		font-weight: 300;
		margin-bottom: 20px;
	}
}
