.footer {
  margin-top: 40px;
  height: 100%;
  background-color: #F6F6F6; }

.container {
  display: block;
  margin: 0 auto;
  width: 100%; }

.footerInfo {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  padding-top: 15px; }

.title {
  color: #358EDC;
  font-size: 13px;
  text-decoration: none;
  margin: 0; }

.phones {
  font-size: 10px;
  color: #4A4A4A; }
  .phones .title {
    display: none; }

.vk {
  display: block;
  width: 25px;
  height: 25px;
  margin: 12px auto;
  background: url("../../img/vk.png") no-repeat;
  padding-bottom: 12px; }

.repair,
.sale {
  display: none; }

.list {
  display: none; }

@media (min-width: 692px) {
  .container {
    width: 672px; }
  .logo {
    display: flex; }
  .repair,
  .sale {
    display: block; }
  .footerInfo {
    padding-top: 18px;
    align-items: flex-start;
    flex-flow: row nowrap;
    justify-content: space-between; }
  .list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none; }
    .list a {
      color: #333;
      text-decoration: none; }
      .list a:hover {
        color: #595959; }
    .list li {
      font-size: 13px;
      margin-bottom: 3px;
      line-height: 1.5; }
  .title {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 5px; }
  .phones {
    width: 180px; }
    .phones .title {
      display: block; }
    .phones .phone {
      display: none; }
    .phones .list li:nth-child(2n - 1) {
      font-weight: bold; } }

@media (min-width: 944px) {
  .container {
    width: 924px; } }
